.first{
    float: left;
    width: 50%;
    justify-content: center;
    text-align: center;
}
a{
    width: max-content;
}
#outer{
    padding-top: 100px;
    width: 100%;
}

#secondOuter{
    width: 100%;
    display: block;
}
#finalTable{
    margin-top: 20px;
    color: black;
}